body {
  background-color: #fff;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}

.left-area {
	position: fixed !important;
	top: 12% !important;
}
.right-area {
	height: 100vh;
	position: absolute !important;
	right: 0;
	padding-left: 50px !important;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  text-decoration:none;
}

a:hover {
  color:#069;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}


hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}


/* All new modifications


/* Standard height for large screens */
.scrollable-news {
  height: 400px;  /* Adjust as needed */
  overflow-y: auto;
  border: 0px solid rgba(128, 128, 128, 0.5); /* semi-transparent grey */
  border-radius: 0px;
  border-style: double; /* or dotted, double, groove, etc. */
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive height for medium screens */
@media (max-width: 1024px) {
  .scrollable-news {
    height: 350px;  /* Adjust as needed */
  }
}

/* Responsive height for small screens */
@media (max-width: 768px) {
  .scrollable-news {
    height: 300px;  /* Adjust as needed */
  }
}

/* Responsive height for extra small screens */
@media (max-width: 480px) {
  .scrollable-news {
    height: 200px;  /* Adjust as needed */
  }
}

/* For Images */
/* Default size */
/*.carousel-inner {
  width: 300px;
  height: 300px;
  margin: none;
}

.carousel-inner img {
  width: 70%;
  height: auto;
}*/

/* Center images in the carousel */
.carousel-inner {
  width: 200px;
  height: 300px;
  margin: none;
/*  display: flex;*/
  justify-content: center;
  align-items: center;
}

/* Optional: set max-width & max-height */
.carousel-inner img {
  width: 70%;
  height: 70%;
}
/* Align images to the center */
.carousel-inner > .item > img {
  margin: auto;
}

/* For smaller screens */
/*@media (max-width: 800px) {
  .carousel-inner {
    width: 100%;
    height: auto;
  }
}*/

